::-webkit-scrollbar {
    width: 8px;
    height:8px;
}




::-webkit-scrollbar-thumb{
    border-radius: 5px;
    
   
}


::-webkit-scrollbar-track{
    border-radius:10px
}

::-webkit-scrollbar{
    width:12px;height:12px;
    background-color:auto;
    background-color:var(--scrollbar-bg,auto)

}

::-webkit-scrollbar-thumb{
    border-radius:10px;
    border:2px auto;
    border:2px solid var(--scrollbar-bg,auto);
 
    background-color:#3a3944;

}

::-webkit-scrollbar-corner{
    background-color:auto;
    background-color:var(--scrollbar-bg,auto)

}

